{% extends 'base.html' %}

{% block content %}
    <h1>{{ api.companyName }}</h1>
        <br>
{% if ticker %}
    {{ ticker }}
{% endif %}

{% if api %}
    {% if api == "Error..." %}
        <h1>There was an problem with your ticker symbol, please try again!</h1>
    {% else %}
        Price: ${{ api.latestPrice }}<br>
        Previous Close: {{ api.previousClose }}<br>
        Market Cap: ${{ api.marketCap }}<br>
        YTD Change: {{ api.ytdChange }}<br>
        52Wk High: {{ api.week52High }}<br>
        52Wk Low: {{ api.week52Low }}<br>
    {% endif %}
{% else %}

<!--    @todo-->

{% endif %}

{% endblock %}